<a href="https://colab.research.google.com/github/Kamill99/Data_Science/blob/main/Pandas/data_connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2023-04-06 to 2018-04-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [4]:
apple.head()

               Open      High     Low   Close      Volume
Date
2023-04-06  162.430  164.9584  162.00  164.66  45390123.0
2023-04-05  164.740  165.0500  161.80  163.76  51511744.0
2023-04-04  166.595  166.8400  165.11  165.63  46278295.0
2023-04-03  164.270  166.2900  164.22  166.17  56976187.0
2023-03-31  162.440  165.0000  161.91  164.90  68749792.0

**Preprocessing**

In [5]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [6]:
apple

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-04-06    162.4300    164.9584   162.0000     164.6600  4.539012e+07
2023-04-05    164.7400    165.0500   161.8000     163.7600  5.151174e+07
2023-04-04    166.5950    166.8400   165.1100     165.6300  4.627830e+07
2023-04-03    164.2700    166.2900   164.2200     166.1700  5.697619e+07
2023-03-31    162.4400    165.0000   161.9100     164.9000  6.874979e+07
...                ...         ...        ...          ...           ...
2018-04-16     41.7806     42.0537    41.7307      41.9680  9.040196e+07
2018-04-13     41.7198     41.9730    41.4945      41.7098  1.052571e+08
2018-04-12     41.3907     41.7736    41.3070      41.5633  9.589378e+07
2018-04-11     41.1126     41.5113    40.9820      41.1614  9.397649e+07
2018-04-10     41.2970     41.5283    40.9431      41.3569  1.197158e+08

[1258 rows x 5 columns]

**Konkatenacja danych**

In [10]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [13]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,102.41,46.10,34.74,52.35,114.74,145.13,181.58
apple_high,1258.00,103.67,46.69,35.16,52.96,116.20,146.91,181.88
apple_low,1258.00,101.23,45.52,34.26,51.72,113.03,143.90,178.09
apple_close,1258.00,102.51,46.13,34.31,52.27,114.62,145.39,180.96
apple_volume,1258.00,114822343.34,55979089.16,35195860.00,77665406.73,98938270.00,133799983.78,434708544.96
amazon_open,1258.00,121.25,34.25,67.30,90.91,108.11,158.33,187.20
amazon_high,1258.00,122.73,34.60,69.80,91.56,110.89,159.93,188.65
amazon_low,1258.00,119.63,33.84,65.35,89.98,106.35,156.22,184.84
amazon_close,1258.00,121.19,34.18,67.20,90.81,108.22,158.09,186.57
amazon_volume,1258.00,83703663.18,38558344.83,17626740.00,57722760.00,72547304.00,98799270.00,311345660.00
google_open,1258.00,87.87,30.01,49.22,60.14,78.73,112.62,151.25
google_high,1258.00,88.88,30.30,50.61,60.64,79.43,114.01,151.55
google_low,1258.00,86.89,29.65,48.88,59.64,77.76,111.44,148.90
google_close,1258.00,87.91,29.97,49.23,60.30,78.58,112.70,149.84
google_volume,1258.00,35029066.13,15739767.19,9312760.00,25150295.00,31226170.00,40006603.75,133177100.00
uber_open,985.00,37.08,9.65,15.96,30.00,34.40,43.99,63.25
uber_high,985.00,37.84,9.73,17.80,30.55,35.02,44.59,64.05
uber_low,985.00,36.25,9.50,13.71,29.35,33.60,43.17,60.80
uber_close,985.00,37.04,9.59,14.82,30.05,34.40,43.78,63.18
uber_volume,985.00,25453401.93,16411845.31,3380003.00,15742985.00,21781825.00,30381462.00,186322536.00

In [14]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.37,0.71,0.71,0.70,0.71,-0.29,0.91,0.92,0.91,0.91,-0.09,0.07,0.07,0.07,0.07,0.10
apple_high,1.00,1.00,1.00,1.00,-0.36,0.71,0.71,0.70,0.71,-0.28,0.91,0.92,0.91,0.91,-0.09,0.06,0.06,0.06,0.06,0.10
apple_low,1.00,1.00,1.00,1.00,-0.38,0.71,0.72,0.70,0.71,-0.29,0.92,0.92,0.91,0.92,-0.10,0.07,0.07,0.07,0.07,0.10
apple_close,1.00,1.00,1.00,1.00,-0.37,0.71,0.71,0.70,0.71,-0.29,0.91,0.92,0.91,0.91,-0.09,0.06,0.07,0.07,0.07,0.10
apple_volume,-0.37,-0.36,-0.38,-0.37,1.00,-0.17,-0.17,-0.18,-0.17,0.58,-0.40,-0.40,-0.41,-0.40,0.45,-0.16,-0.15,-0.17,-0.16,0.23
amazon_open,0.71,0.71,0.71,0.71,-0.17,1.00,1.00,1.00,1.00,-0.20,0.77,0.77,0.77,0.77,-0.13,0.59,0.60,0.59,0.59,-0.03
amazon_high,0.71,0.71,0.72,0.71,-0.17,1.00,1.00,1.00,1.00,-0.19,0.77,0.77,0.77,0.77,-0.12,0.58,0.59,0.58,0.58,-0.03
amazon_low,0.70,0.70,0.70,0.70,-0.18,1.00,1.00,1.00,1.00,-0.22,0.77,0.76,0.77,0.77,-0.14,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.71,0.71,0.71,0.71,-0.17,1.00,1.00,1.00,1.00,-0.21,0.77,0.77,0.77,0.77,-0.13,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.29,-0.28,-0.29,-0.29,0.58,-0.20,-0.19,-0.22,-0.21,1.00,-0.31,-0.30,-0.31,-0.31,0.54,-0.16,-0.15,-0.18,-0.17,0.24
google_open,0.91,0.91,0.92,0.91,-0.40,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.10
google_high,0.92,0.92,0.92,0.92,-0.40,0.77,0.77,0.76,0.77,-0.30,1.00,1.00,1.00,1.00,-0.13,0.23,0.23,0.23,0.23,0.10
google_low,0.91,0.91,0.91,0.91,-0.41,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.15,0.25,0.25,0.25,0.24,0.09
google_close,0.91,0.91,0.92,0.91,-0.40,0.77,0.77,0.77,0.77,-0.31,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_volume,-0.09,-0.09,-0.10,-0.09,0.45,-0.13,-0.12,-0.14,-0.13,0.54,-0.14,-0.13,-0.15,-0.14,1.00,-0.16,-0.15,-0.18,-0.16,0.28
uber_open,0.07,0.06,0.07,0.06,-0.16,0.59,0.58,0.60,0.59,-0.16,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.21
uber_high,0.07,0.06,0.07,0.07,-0.15,0.60,0.59,0.60,0.59,-0.15,0.24,0.23,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.07,0.06,0.07,0.07,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.23
uber_close,0.07,0.06,0.07,0.07,-0.16,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.24,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.10,0.10,0.10,0.10,0.23,-0.03,-0.03,-0.04,-0.03,0.24,0.10,0.10,0.09,0.09,0.28,-0.21,-0.19,-0.23,-0.21,1.00

In [15]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [16]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [17]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-04-10        41.36         71.81         51.83         NaN
2018-04-11        41.16         71.35         51.25         NaN
2018-04-12        41.56         72.42         51.86         NaN
2018-04-13        41.71         71.54         51.80         NaN
2018-04-16        41.97         72.08         52.30         NaN
...                 ...           ...           ...         ...
2023-03-31       164.90        103.29        103.73       31.70
2023-04-03       166.17        102.41        104.36       31.46
2023-04-04       165.63        103.95        104.72       31.39
2023-04-05       163.76        101.10        104.47       31.12
2023-04-06       164.66        102.06        108.42       31.18

[1258 rows x 4 columns]

In [19]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [20]:
df[closes]

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
Date,,,,,,,,
2018-04-10,41.36,119715772.30,71.81,85602880,51.83,36733560,NaN,NaN
2018-04-11,41.16,93976494.74,71.35,71650660,51.25,32998980,NaN,NaN
2018-04-12,41.56,95893776.08,72.42,62700540,51.86,32895880,NaN,NaN
2018-04-13,41.71,105257102.38,71.54,73705340,51.80,25409220,NaN,NaN
2018-04-16,41.97,90401957.80,72.08,56172480,52.30,29776440,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-03-31,164.90,68749792.00,103.29,56750317,103.73,36863369,31.70,14824601.00
2023-04-03,166.17,56976187.00,102.41,41135733,104.36,25035399,31.46,23529100.00
2023-04-04,165.63,46278295.00,103.95,48662496,104.72,24420079,31.39,15146854.00
2023-04-05,163.76,51511744.00,101.10,45175393,104.47,28290503,31.12,17243304.00
2023-04-06,164.66,45390123.00,102.06,43808020,108.42,48711480,31.18,14486919.00

In [22]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-04-06      30.93      31.49     30.50       31.18     14486919
2023-04-05      30.95      31.23     30.47       31.12     17243304
2023-04-04      31.94      32.13     31.29       31.39     15146854
2023-04-03      31.50      31.75     31.17       31.46     23529100
2023-03-31      31.42      31.84     31.21       31.70     14824601

In [24]:
uber_6 = uber.index.month == 6
uber[uber_6]

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [25]:
uber_7 = uber.index.month == 7
uber[uber_7]

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]